.hidden {
    display: none;
}
td{
    background-color: white;
}
body{
    background-color: white;
}
h1{
    font-size: medium;
    align-self: center;
}

.inicio{
    width: 110%;
    background-color: rgb(168, 23, 23);
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    margin-top: -10px;
    margin-left: -9px;
    margin-right: -20px;
    padding: 20px 0;
}
.letra{
    font-size: xx-large;
    padding-left: 20px;
    color: white;
}
.form{
    width: 15%;
    border: 1;
    background-color: gainsboro;
    border: 1px solid #ccc;
    border-radius: 50px; /* metade da altura para criar a forma oval */
}
.container {
    display: flex;
    flex-direction: column;
    padding-left: 35px;
    align-items: flex-start;

}
.Integrantes {
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: inline-block;
    
}
.Info {
    align-content: center;
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: inline-block;
}
.Dowload {
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: inline-block;
}
.Final{
    width: 110%;
    background-color: rgb(185, 185, 185);
    margin-top: -10px;
    margin-left: -9px;
    margin-right: -20px;
    padding: 20px 0;

}